@{
    ViewData["Title"] = "Создать отметку";

}
@functions {
    public string fioUser(TeacherOnline.DAL.Entities.Profile profile)
    {
        string fioUser = $"{profile.LastName} {profile.FirstName[0]}. {profile.Otchestvo[0]}.";
        return fioUser;
    }
    public string fioTeacher(TeacherOnline.DAL.Entities.Profile profile)
    {
        string fioTeacher = $"{profile.LastName} {profile.FirstName[0]}. {profile.Otchestvo[0]}.";
        return fioTeacher;
    }
}
@model TeacherOnline.DTO.ViewModel.EstimateVM;
<h2>@ViewData["Title"]</h2>

<form asp-controller="Estimate" asp-action="CreateEstimate" method="post">
    <div class="mb-3">
        <div class="col-md-3">
            <label for="inputDepartment" class="form-label">Предмет</label>
            <select class="form-select" asp-for="@Model.estimate.IdSubject">
                @foreach (var item in Model.subjects)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <label for="inputDepartment" class="form-label">Учащийся</label>
            <select class="form-select" asp-for="@Model.estimate.IdUser">
                @foreach (var item in Model.users)
                {
                    @*тут нужно пилить запросы на ajax-се*@
                    <option value="@item.Id">@fioUser(item)</option>
                }
            </select>
        </div>
        <label class="form-label">Отметка</label>
        <input type="range" class="form-range" min="1" max="10" asp-for="@Model.estimate.Score">
    </div>
    <button type="submit" class="btn btn-primary">Создать предмет</button>
</form>