@{
    ViewData["Title"] = "Отметки";
}
@functions{
    public string fioUser(TeacherOnline.DAL.Entities.Estimate estimate)
    {
        string fioUser = $"{estimate.IdUserNavigation.LastName} {estimate.IdUserNavigation.FirstName[0]}. {estimate.IdUserNavigation.Otchestvo[0]}.";
        return fioUser;
    }
    public string fioTeacher(TeacherOnline.DAL.Entities.Estimate estimate)
    {
        string fioTeacher = $"{estimate.IdTeacherNavigation.LastName} {estimate.IdTeacherNavigation.FirstName[0]}. {estimate.IdTeacherNavigation.Otchestvo[0]}.";
        return fioTeacher;
    }
}
@model TeacherOnline.DTO.ViewModel.EstimateVM;

<h1>@ViewData["Title"]</h1>
@if (User.IsInRole("Teacher"))
{
    <a class="btn btn-outline-primary m-3" asp-controller="Estimate" asp-action="CreateEstimate">Создать отметку<br /></a>
}
<form method="get" class="hstack gap-3 m-3" asp-action="Index" asp-controller="Estimate">
    <select required name="selectedSubject" class="form-select" asp-for="@Model.Fltr.SelectedSubject">
        <option >Все отметки</option>
        @foreach (var item in Model.DisplaySubj)
        {
            if(item.Key == Model.subject?.Id)
            {
                <option selected value="@item.Key">@item.Value</option>
                continue;
            }
            <option value="@item.Key">@item.Value</option>
        }
    </select>
    @if (User.IsInRole("Teacher"))
    {
        <select required name="selectedUser" class="form-select" asp-for="@Model.Fltr.SelectedUser">
            <option value="0">Все учащиеся</option>
            @foreach (var item in Model.DisplayUser)
            {
                if(item.Key == Model.user?.Id)
                {
                    <option selected value="@item.Key">@item.Value</option>
                    continue;
                }
                <option value="@item.Key">@item.Value</option>
            }
        </select>
    }
    <button type="submit" class="btn btn-outline-primary">Поиск</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col"><a asp-action="Index" 
                asp-route-selectedSubject="@Model.Fltr.SelectedSubject"
                asp-route-selectedUser="@Model.Fltr.SelectedUser"
                asp-route-sortOrder="@Model.Str.IdSubSort">Предмет</a></th>
            <th scope="col">Учащийся</th>
            <th scope="col"><a asp-action="Index" 
                asp-route-selectedSubject="@Model.Fltr.SelectedSubject"
                asp-route-selectedUser="@Model.Fltr.SelectedUser"
                asp-route-sortOrder="@Model.Str.ScoreSort">Отметка</a></th>
            <th scope="col">Тип отметки</th>
            <th scope="col"><a asp-action="Index" 
                asp-route-selectedSubject="@Model.Fltr.SelectedSubject"
                asp-route-selectedUser="@Model.Fltr.SelectedUser"
                asp-route-sortOrder="@Model.Str.DataAddSort">Дата добавления</a></th>
            <th scope="col">Дата обновления</th>
            <th scope="col">Преподаватель</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.estimateList)
        {
            <tr>
                <th scope="row">@item.IdSubjectNavigation.Name</th>
                <td>@fioUser(item)</td>
                <td>@item.Score</td>
                <td>@Model.TypeEstimate.First(u=>u.Key == item.Type).Value</td>
                <td>@item.DateAdd</td>
                <td>@item.DateUpdate</td>
                <td>@fioTeacher(item)</td>
                @if(item.IdTeacher == (int)ViewData["Id"])
                {
                    <td><a class="btn btn-outline-warning" asp-controller="Estimate" asp-action="UpdateEstimate" asp-route-id="@item.Id">Изменить</a></td>
                    <td>
                        <form method="post" asp-controller="Estimate" asp-action="DeleteEstimate" asp-route-id="@item.Id">
                            <button class="btn btn-outline-danger" type="submit">Удалить</button>
                        </form>
                    </td> 
                }
            </tr>
        }
    </tbody>
</table>