@{
    ViewData["Title"] = "Группы в предметах";
}
@model TeacherOnline.DTO.ViewModel.GroupInSubVM;
<h2>@ViewData["Title"]</h2>
@if (User.IsInRole("Teacher"))
{
    <a class="btn btn-outline-primary" asp-controller="Group" asp-action="CreateGroupInSub">Создать связь<br /></a>
}

<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col"><a asp-action="GroupInSub" asp-route-sortOrder="@ViewBag.GroupIdSubSort">Предмет</a></th>
            <th scope="col"><a asp-action="GroupInSub" asp-route-sortOrder="@ViewBag.IdGroupSort">Группа</a></th>
            @if (User.IsInRole("Teacher"))
            {
                <th scope="col">Действие</th>
                <th scope="col">Действие</th>
                @*тут бы объединить 2 стролбца в 1*@
            } 
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.gisList){
            <tr>
                <th scope ="row">
                    <p> @item.IdSubjectNavigation.Name <br /></p>
                </th>
                <th>
                    <p> @item.IdGroupsNavigation.Name <br /></p>
                </th>
                @if(item.IdTeacher == Convert.ToInt32(ViewData["Id"]))
                {
                    <td>
                        <a class="btn btn-outline-warning" asp-controller="Group" asp-action="UpdateGroupInSub" asp-route-id="@item.Id">Изменить</a>
                    </td>
                    <td>
                        <form mehtod="post" asp-contoller="Group" asp-action="DeleteGroupInSub" asp-route-id="@item.Id">
                            <button class="btn btn-outline-danger" type="submit" value="delete">Удалить</button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>