@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<TeacherOnline.DAL.Entities.User>

<h1>Добро пожаловать в веб-приложение "Преподаватель Online"!</h1>
    @if(!User.Identity.IsAuthenticated){
        <h1>Для работы на сайте нужно авторизироваться</h1>
    }
    else if(!User.IsInRole("Admin"))
    {
    <p>
        <strong>"Преподаватель Online"</strong> - это инновационный проект, разработанный Хирсой Станиславом Юрьевичем.<br/>
        Мое приложение предоставляет возможности по использованию инструментов для обмена файлами, сообщениями, подсчёта отметок за семестр как для группы,
        так и персональной для каждого учащегося. Я уверен, что мое веб-приложение поможет учащимся и преподавателям получить максимальную пользу от данного проекта.
    </p>
    }
    


@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        Список пользователей
    </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Логин</th>
                <th scope="col">Пароль</th>
                <th scope="col">Ранг</th>
                <th scope="col">Почта</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Login</td>
                    <td>@item.Password</td>
                    <td>@item.Rank</td>
                    <td>@item.Email</td>
                    <td><a class="btn btn-outline-warning" asp-controller="Users" asp-action="UpdateUser" asp-route-id="@item.Id">Изменить</a></td> @*тут изменить на "изменить"*@
                    <td>
                        <form method="post" asp-controller="Users" asp-action="DeleteUser" asp-route-id="@item.Id">
                            <button class="btn btn-outline-danger" type="submit">Удалить</button>
                    </form> </td> 
                </tr>
            }
        </tbody>
    </table>
}