@{
    ViewData["Title"] = "Поиск";
    
}
@model IEnumerable<TeacherOnline.DAL.Entities.Profile>

<h2>@ViewData["Title"]</h2>

@*<div class="container">
    <form asp-controller="Home" asp-action="Search" method="post">
        <div class="w-50">
            <label for="Search" class="form-label">Запрос:</label>
            <input type="text" class="form-control"  name="Query">
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
*@
<table class="table">
    <thead>
        <tr>
            <th scope="col">ФИО</th>
            <th scope="col">Группа</th>
            <th scope="col">Фотография</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.LastName @item.FirstName @item.Otchestvo</td>
                <td>@item.GroupsNavigation?.Name</td>
                <td><a asp-controller="Users" asp-action="CheckProfile" asp-route-id="@item.Id"><img style='width:50px; height:50px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Photo))" /></a></td>
            </tr>
        }
    </tbody>
</table>