@{
    ViewData["Title"] = "Профиль";
}
@using TeacherOnline.DTO.ViewModel;
@{
    string x, y;
    string date = "";
    if (Model.Profile.Date.Month < 10) 
    @*вот тут ошибка, возвращает нул, хотя должна быть дата.... писец*@
    {
        x = "0" + Model.Profile.Date.Month;
        if (Model.Profile.Date.Day < 10)
        {
            y = "0" + Model.Profile.Date.Day;
            date = Model.Profile.Date.Year + "-" + x + "-" + y;
        }
        else
        { date = Model.Profile.Date.Year + "-" + x + "-" + Model.Profile.Date.Day; }

    }
    else if (Model.Profile.Date.Day < 10)
    {
        y = "0" + Model.Profile.Date.Day;
        date = Model.Profile.Date.Year + "-" + Model.Profile.Date.Month + "-" + y;
    }
}

@model UserProfileVM;

    

<h2>@ViewData["Title"]</h2>


<!-- g-* это размер отступов между элементами...

снизу - пример на создание профайла для пользователя админом.... просто пусть будет
-->
<form class="row g-3" style="width:1000px" asp-controller="Users" asp-action="UpdateProfile" enctype="multipart/form-data" method="post">
        <div class="col-md-3">
            <label for="inputFIO" class="form-label">Фамилия</label>
            <input type="text" class="form-control" id="inputFIO" placeholder="Иванов" value="@Model.Profile.LastName" name="LastName">
        </div>
        <div class="col-md-3">
            <label for="inputFIO" class="form-label">Имя</label>
            <input type="text" class="form-control" id="inputFIO" placeholder="Иван" value="@Model.Profile.FirstName" name="FirstName">
        </div>
        <div class="col-md-3">
            <label for="inputFIO" class="form-label">Отчетсво</label>
            <input type="text" class="form-control" id="inputFIO" placeholder="Иванович" value="@Model.Profile.Otchestvo" name="Otchestvo">
        </div>
        <div class="col-md-3">
            <label for="inputDataHB" class="form-label">День рождения</label>
            <input type="date" class="form-control" id="inputDataHB" value="@date" name="Date">
        </div>
        @if (User.IsInRole("Teacher"))
        {
            <div class="col-md-3">
                <label for="inputDepartment" class="form-label">Группа</label>
                <select class="form-select" asp-for="@Model.Profile.Groups">
                    @foreach (var item in Model.Group)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        }
        <div class="col-md-3">
            <label for="inputNumber" class="form-label">О себе</label>
            <input type="text" class="form-control" id="inputNumber" value="@Model.Profile.About" name="About">
        </div>
        <div class="row">
            <div class="col-md-5">
                <label for="formFile" class="form-label">Загрузить фото</label>
                <input class="form-control" type="file" id="formFile" name="Photos">
                <img style='width:120px; height:120px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Profile.Photo))" />
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Сохранить данные</button>
        </div>
</form>