@{
    ViewData["Title"] = "Изменить";

    //public record class Teach(int id, string fio);
    //static List<Teach> teahc { get; } = new List<Teach>();
    //foreach(var item in )
    //SelectList selects = new SelectList()
}
@model TeacherOnline.DAL.Entities.Estimate
<h2>@ViewData["Title"]</h2>

<form asp-controller="Subject" asp-action="CreateSub" method="post">
    <div class="mb-3">
        <label class="form-label">Студент</label>
        @*вот тут решить вопрос с select*@
        @*<select class="form-control" asp-for="@Model.IdUser" asp-items="Model.user"></select>
        <label class="form-label">Предмет</label>
        <select class="form-control" asp-for="@Model.IdSubject" asp-items="Model.subj"></select>
        <label class="form-label">Отметка</label>
        <input type="text" class="form-control" asp-for="@Model.Score">
        <label class="form-label">Преподаватель</label>
        <select class="form-control" asp-for="@Model.IdTeacher" asp-items="Model.teach"></select>*@
    </div>
    <button type="submit" class="btn btn-primary">Создать пользователя</button>
</form>