@{
    ViewData["Title"] = "Отметки";
}
@model IEnumerable<TeacherOnline.DAL.Entities.Estimate>
<h2>@ViewData["Title"]</h2>

<a class="btn btn-success" asp-controller="Subject" asp-action="CreateEst">Добавить отметку<br /></a>

<div class="container g-5">
    <form asp-controller="Subject" asp-action="Search" method="post">
        <div class="w-50">
            <label for="Search" class="form-label">Запрос:</label>
            <input type="text" class="form-control" name="Query">
            <label for="Date" class="form-label">Дата</label>
            <input type="date" class="form-control" name="Date">
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>

<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">ФИО студента</th>
            <th scope="col">Название предмета</th>
            <th scope="col">Отметка</th>
            <th scope="col">ФИО преподавателя</th>
            @if (User.IsInRole("Teacher"))
            {
                @if (User.IsInRole("Admin"))
                {
                    <th scope="col">Действие</th>
                }
                <th scope="col">Действие</th>
            } @*тут проверочка на иденцифицированного пользователя*@
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <th scope="row">@item.IdUserNavigation.FirstName @item.IdUserNavigation.LastName @item.IdUserNavigation.Otchestvo</th>
                <th>@item.IdSubjectNavigation.Name</th>
                <th>@item.Score</th>
                <th>@item.IdTeacherNavigation.FirstName @item.IdTeacherNavigation.LastName @item.IdTeacherNavigation.Otchestvo</th>

                @*подумать над возможностью изменить отметку и её удалить...*@
                @if(User.IsInRole("Teacher"))
                {
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <form mehtod="post" asp-contoller="Subject" asp-action="DeleteEst" asp-route-id="@item.Id">
                                <button class="btn btn-danger" type="submit" value="delete">Удалить</button>
                            </form>
                        }
                </td>
                    <td>
                        <a class="btn btn-warning" asp-controller="Subject" asp-action="UpdateEst" asp-route-id="@item.Id">Изменить</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>