@{
    ViewData["Title"] = "Учащиеся в предмете";
}
@model IEnumerable<TeacherOnline.DAL.Entities.Group>
<h2>@ViewData["Title"]</h2>
@functions {
    public string fioUser(TeacherOnline.DAL.Entities.Profile profile)
    {
        string fioUser = $"{profile.LastName} {profile.FirstName}";
        return fioUser;
    }
}
<a class="btn btn-success" asp-controller="File" asp-action="FileSub" asp-route-id="@Convert.ToInt32(ViewData["Idsub"])">Файлы предмета<br /></a>
@*<a class="btn btn-success" asp-controller="Estimate" asp-action="AverageEstimate" asp-route-id="@Convert.ToInt32(ViewData["Idsub"])">Средний балл группы<br /></a>
*@<!--тут цикл для всех пользователей -->
@foreach(var item in Model)
{
    <h3><a class="btn btn-success" asp-controller="Estimate" asp-action="AverageEstimate" 
        asp-route-id="@Convert.ToInt32(ViewData["Idsub"])"
        asp-route-idgroup="@item.Id">@item.Name</a></h3>
    <div class="container g-3 row" style="">
    @foreach(var user in item.Profiles)
    {
            <div class="col">
                <div class="card" style="width: 10rem;">
                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(user.Photo))" class="card-img-top" style="width: 10rem; height:10rem;">
                    <div class="card-body">
                        <h5 class="card-title">@fioUser(user)</h5>
                    </div>
                </div>
            </div>
    }
    </div>
}   
@if (Model is null || Model == null || Model.Count() == 0)
{
    <h1>Учащихся в данном предмете нет!!!</h1>
    return;
}

