@{
    ViewData["Title"] = "Изменить предмет";
}
@model TeacherOnline.DTO.ViewModel.SubjectGroupTeacherVM;

<form asp-controller="Subject" asp-action="UpdateSub" method="post">
    <div class="mb-3">
        <input readonly hidden type="number" class="form-control" value="@Model.sub.Id" asp-for="@Model.sub.Id">
        <label class="form-label">Название предмета</label>
        <input required type="text" class="form-control" value="@Model.sub.Name" asp-for="@Model.sub.Name">
        <label class="form-label">О предмете</label>
        <input required type="text" class="form-control" value="@Model.sub.About" asp-for="@Model.sub.About">
    </div>
    <button type="submit" class="btn btn-outline-success">Изменить предмет</button>
</form>